<div class="content">
  <h1>Corona Deaths per day</h1>
  <mat-slide-toggle [(ngModel)]="smoothing" (ngModelChange)="updateGraphData();">Smoothing</mat-slide-toggle>
  &nbsp;&nbsp;&nbsp;
  <mat-slide-toggle [(ngModel)]="logY" (ngModelChange)="updateGraphData();">Log scale</mat-slide-toggle>


  <div *ngIf="!dates">Loading...</div>
  <div *ngIf="dates">
    <mat-tab-group (selectedTabChange)="updateGraphData()">
      <mat-tab label="Data">
    <div class="graph">
      <h2>Global deaths per day</h2>
      <!-- Based on: https://stackblitz.com/edit/swimlane-line-chart?embed=1&file=app/app.component.ts -->
      <ngx-charts-area-chart-stacked
        [legend]="legend"
        [animations]="animations"
        [showXAxisLabel]="showXAxisLabel"
        [showYAxisLabel]="showYAxisLabel"
        [xAxis]="xAxis"
        [yAxis]="yAxis"
        [xAxisLabel]="xAxisLabel"
        [yAxisLabel]="yAxisLabel"
        [timeline]="timeline"
        [results]="graphData"
      >
      </ngx-charts-area-chart-stacked>
    </div>

    <div>
      <h2>Deaths per day in different countries</h2>
      <ng-select [multiple]="true" [items]="countries" bindLabel="label" [(ngModel)]="selectedCountries" (ngModelChange)="updatePerCountryGraphData()"></ng-select>
      <div class="graph">
        <ngx-charts-line-chart
          [legend]="true"
          [animations]="animations"
          [showXAxisLabel]="showXAxisLabel"
          [showYAxisLabel]="showYAxisLabel"
          [xAxis]="xAxis"
          [yAxis]="yAxis"
          [xAxisLabel]="xAxisLabel"
          [yAxisLabel]="yAxisLabel"
          [timeline]="timeline"
          [results]="perCountryGraphData"
        >
        </ngx-charts-line-chart>
      </div>
    </div>
      </mat-tab>
      <mat-tab label="Estimates">

    <div>
      <h2>Estimated infected, based on the number of deaths</h2>
      <p>Based on <a href="https://medium.com/@tomaspueyo/coronavirus-act-today-or-people-will-die-f4d3d9cd99ca" target="_blank">a post by Tomas Pueyo on Medium</a></p>
      <ng-select style="max-width: 20em" [multiple]="false" [items]="countries" bindLabel="label" [(ngModel)]="selectedEstimateCountry" (ngModelChange)="updateEstimatedInfectedData()"></ng-select>
      <p><mat-slider style="width: 60%" [min]="0" [max]="25" [step]="0.5" [thumbLabel]="true" [(ngModel)]="estimateDeathRate" (ngModelChange)="updateEstimatedInfectedData()"></mat-slider>Estimated death rate: {{estimateDeathRate}}%</p>
      <p><mat-slider style="width: 60%" [min]="1" [max]="30" [step]="1" [thumbLabel]="true" [(ngModel)]="estimateTimeTillDeath" (ngModelChange)="updateEstimatedInfectedData()"></mat-slider>Estimated days between initial infection and death: {{estimateTimeTillDeath}} days</p>

      <p><mat-slider style="width: 25%" [min]="0" [max]="1" [step]="0.02" [thumbLabel]="true" [(ngModel)]="kalmanR" (ngModelChange)="updateEstimatedInfectedData()"></mat-slider>Kalman R
      <mat-slider style="width: 25%" [min]="0" [max]="50" [step]="0.5" [thumbLabel]="true" [(ngModel)]="kalmanQ" (ngModelChange)="updateEstimatedInfectedData()"></mat-slider>Kalman Q
      <mat-slider style="width: 25%" [min]="1" [max]="4" [step]="0.05" [thumbLabel]="true" [(ngModel)]="kalmanA" (ngModelChange)="updateEstimatedInfectedData()"></mat-slider>Kalman A</p>

      <h3>There are an estimated {{selectedCountryTotalInfectedEstimate | number}} cases in {{selectedEstimateCountry.label}}. The reported number of cases is {{selectedCountryReportedTotalInfected | number}}</h3>


      <div class="graph">
        <ngx-charts-line-chart
          [legend]="true"
          [animations]="animations"
          [showXAxisLabel]="showXAxisLabel"
          [showYAxisLabel]="false"
          [xAxis]="xAxis"
          [yAxis]="yAxis"
          [xAxisLabel]="xAxisLabel"
          [yAxisLabel]="yAxisLabel"
          [timeline]="timeline"
          [results]="estimateInfectionsGraphData"
        >
        </ngx-charts-line-chart>
      </div>
    </div>
    </mat-tab>
    </mat-tab-group>

  </div>
</div>
