<h1>Corona Deaths per day</h1>

<div *ngIf="!data">Loading...</div>
<div *ngIf="data">
  <div style="width: 90%; height: 400px; margin-left: auto; margin-right: auto;">
    <h2>Global deaths per day</h2>
  <!-- Based on: https://stackblitz.com/edit/swimlane-line-chart?embed=1&file=app/app.component.ts -->
  <ngx-charts-line-chart
    [legend]="legend"
    [animations]="animations"
    [showXAxisLabel]="showXAxisLabel"
    [showYAxisLabel]="showYAxisLabel"
    [xAxis]="xAxis"
    [yAxis]="yAxis"
    [xAxisLabel]="xAxisLabel"
    [yAxisLabel]="yAxisLabel"
    [timeline]="timeline"
    [results]="graphData"
  >
  </ngx-charts-line-chart>
  </div>

  <div style="width: 90%; height: 400px; margin-left: auto; margin-right: auto;">
    <h2>Deaths per day in the Netherlands, China, Spain, Italy and Iran</h2>
  <ngx-charts-line-chart
    [legend]="true"
    [animations]="animations"
    [showXAxisLabel]="showXAxisLabel"
    [showYAxisLabel]="showYAxisLabel"
    [xAxis]="xAxis"
    [yAxis]="yAxis"
    [xAxisLabel]="xAxisLabel"
    [yAxisLabel]="yAxisLabel"
    [timeline]="timeline"
    [results]="nlGraphData"
  >
  </ngx-charts-line-chart>
  </div>
</div>
